black==26.1.0
coverage==7.13.2
python-semantic-release==10.5.3
packaging==26.0
wheel==0.46.3
twine==6.2.0
requests==2.32.5
requests-mock==1.12.1
types-requests==2.32.4.20260107
setuptools==80.10.2
mypy==1.19.1
paho-mqtt==2.1.0
pymodbus==3.11.4
sentry-sdk==2.50.0
