black==26.3.1
coverage==7.13.5
python-semantic-release==10.5.3
packaging==26.2
wheel==0.47.0
twine==6.2.0
requests==2.33.1
requests-mock==1.12.1
types-requests==2.33.0.20260503
setuptools==82.0.1
mypy==1.20.2
paho-mqtt==2.1.0
pymodbus==3.13.0
sentry-sdk==2.59.0
